@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Avenir", system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$brand-color:      #a3e5c1 !default;
$background-color: $brand-color !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

body {
  background-color: $brand-color;
  font-family: $base-font-family;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 25em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #mc_embed_signup input.button,
  #mc_embed_signup input.email {
    width: 200px;
    margin: 10px auto;
  }

  #mc_embed_signup input.email {
    padding: 10px;
  }

  #mc_embed_signup input.button {
    background-color: #000;
  }

  svg.logo {
    width: 80%;
    margin: 2em auto;
    margin-top: 5em;
  }

  svg.proverb {
    Width: 65%;
    margin: 2em auto;
  }

  @media only screen and (min-device-width : 768px) {
    svg.logo {
      Width: 30%;
      margin: 2em auto;
      margin-top: 5em;
    }
    svg.proverb {
      Width: 20%;
      margin: 2em auto;
    }
  }
}

// // Import partials.
// @import
//   "minima/base",
//   "minima/layout",
//   "minima/posts",
//   "minima/syntax-highlighting"
// ;
