@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700,900");
// Define defaults for each variable.

$base-font-family: "Source Code Pro", 'monospace', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #2D2C2D !default;
$brand-teal:      #aee7ed !default;
$brand-cream:      #F6F6F3 !default;
$brand-pink:    #EE2158 !default;
$brand-black:     #2D2C2D !default;
$background-color: #fff !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-tablet:          768px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
// html,
// body,
// .page-content,
.wrapper.Home {
  height: 100%;
}
body {
  background-color: $brand-cream;
  font-family: $base-font-family;
  color: $brand-black;
  margin: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

header {
  background-color: $brand-cream;
  padding-bottom: 3em;
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; padding: 0;
  }

  nav ul li {
    font-weight: bolder;
    font-size: 20px;
  }

  nav ul li {
    display: inline;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    svg {
      width: 200px;
    }
  }
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 25em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  svg {
    // @media screen and (max-width: 450px) {
    //   width: 60%;
    // }
    width: 60%;
  }

  .img-wrapper {
    width: 100%;
    padding: 400px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.cookie_single {
      background-image: url('/assets/cookie_single.jpg');
    }
    &.madje_shot {
      background-image: url('/assets/madje_shot.jpg');
    }
    &.cookies_pic {
      background-image: url('/assets/cookies.jpg')
    }
  }

  section {
    background-color: $brand-cream;
    width: 100%;
    text-align: center;
    p {
      padding: 0 10%;
      line-height: 2;
      &.text-emphasis {
        font-weight: bolder;
      }
    }
  }

  div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .social {
    svg {width: 30px; height: 30px;margin: 10px;}
    max-height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    webkit-justify-content: center;
  }

  &.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    box-pack: center;
    box-align: center;
    -webkit-box-align: center;
    .img-wrapper {
      padding: 300px 0;
    }
  }
  .landing-wrapper {
    background: $brand-cream;
    padding: 2em 0;
    border-radius: 8px;
  }

  .landing-tagline {
    margin: 20px auto;
    p {
      font-weight: 700;
      font-size: 30px;
      margin: 0;
    }
    p.landing-tagline__smaller {
      font-size: 20px;
      font-weight: 200;
    }
    @media screen and (max-width: 450px) {
      margin: 0 auto;
      p {
        font-size: 25px;
      }
      p.landing-tagline__smaller {
        font-size: 15px;
      }
    }
  }

  #mc_embed_signup {
    @media screen and (max-width: 450px) {
      #mc_embed_signup_scroll {
        width: 100%;
      }
      p {
        font-size: 18px;
      }
    }
    p {
      margin: 0;
      font-size: 20px;
    }

    form {
      padding: 0;
    }

    input.button,
    input.email {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    }

    input.email {
      padding: 10px 0;
    }

    input.button {
      line-height: 55px;
      // width: 100%;
      font-weight: 700;
      color: $brand-cream;
      background: $brand-black;
      height: 100%;
    }
  }
}

footer {
  background: $brand-pink;
  padding: 10em 0;
  text-align: center;
  color: $brand-cream;
  p {
    font-weight: 100;
  }
  .social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; padding: 0;
  }
  .social ul li {
    display: inline;
  }
  .social {
    padding-top: 20px;
    margin: 20px 0;
    svg {
      width: 20px; height: 20px;
    }
    ul {
      justify-content: center;
      li {
        margin: 0 10px;
      }
    }
  }
}

// // Import partials.
// @import
//   "minima/base",
//   "minima/layout",
//   "minima/posts",
//   "minima/syntax-highlighting"
// ;
